@{
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}
@* 员工信息添加 *@
@section Header{
    <link href="~/Content/css/hr/hr_maintain.css" rel="stylesheet" />
    <link href="~/Content/css/hr/hr_maintain_form.css" rel="stylesheet" />
    <link href="~/Content/date/calendar.css" rel="stylesheet" />
}
<style type="text/css">
    #ico_user {
        background-color: #E1E6EB;
        border-color: #C9D4DF;
    }

    #employ_add {
        background-color: #f3f3f3;
        color: #4e4e4e;
    }

</style>
@Html.Partial("Partial_HrMaintain")
<div class="data_nav">
    <div class="data_title">
        <h2>员工信息</h2>
    </div>
    <div class="data_con">
        <div class="photo">
            <img src="~/Content/imgs/c01.jpg" style="border:0px solid #ccc" />
        </div>
        <form name="frm1">
            <div class="form_line form_line_top">
                <div class="form_line_left">
                    <label class="label" for="Name"><span class="txt_required">*</span> 姓  名 : </label>
                    <div class="element">
                        
                        <input type="text" name="Name" class="text invalid_input" tabindex="1" size="25"/>
                        @*<div id="" class="err_msg">错误信息</div>*@
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="Sex">性 别 : </label>
                    <div class="element">
                        男
                        <input type="radio" name="Sex" value="m" checked="checked" />&nbsp;&nbsp;&nbsp;&nbsp;
                        女
                        <input type="radio" name="Sex" />
                    </div>
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="Birthday">出生年月 :</label>
                    <div class="element">
                        <input type="text" name="Birthday" id="Birthday" class="text date" size="15" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="IsMarried">婚 否 :</label>
                    <div class="element">
                        未婚
                        <input type="radio" name="IsMarried" value="0" checked="checked" />&nbsp;&nbsp;&nbsp;&nbsp;
                        已婚
                        <input type="radio" name="IsMarried" value="1"/>
                    </div>
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="Telephone">联系电话 :</label>
                    <div class="element">
                        <input type="text" name="Telephone" id="Telephone" class="text" size="20" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="IdCard">身份证号 :</label>
                    <div class="element">
                        <input type="text" name="IdCard" id="IdCard" class="text" size="30" />
                    </div>
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="Email">电子邮箱 :</label>
                    <div class="element">
                        <input type="text" name="Email" id="Email" class="text" size="25" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="Homephone">家庭电话 :</label>
                    <div class="element">
                        <input type="text" name="Homephone" id="Homephone" class="text" size="20" />
                    </div>
                </div>
            </div>
            <div class="form_line">
                <label class="label" for="HomeAdress">家庭住址 :</label>
                <div class="element">
                    <select name="province">
                        <option value="01">湖北省</option>
                        <option value="02">广西壮族自治区</option>
                        <option value="03">湖北省</option>
                    </select>
                    <select name="city">
                        <option value="01">武汉市</option>
                    </select>
                    <select name="area">
                        <option value="01">武昌区</option>
                    </select>&nbsp;
                    <input type="text" name="HomeAdress" id="HomeAdress" class="text" size="20" />
                </div>
            </div>
            <div class="split_hr"></div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="FinishSchool">毕业院校 :</label>
                    <div class="element">
                        <input type="text" name="FinishSchool" id="FinishSchool" class="text" size="25" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="DegreeCode">学 历 :</label>
                    <div class="element">
                        <select name="DegreeCode" style="width: 100px">
                            <option value="1">研究生</option>
                            <option value="2">博士</option>
                            <option value="3">大博士</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="Major">专 业 :</label>
                    <div class="element">
                        <input type="text" name="Major" id="Major" class="text" size="20" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="PoliticalCode">政治面貌 :</label>
                    <div class="element">
                        <select name="PoliticalCode" style="width: 150px">
                            <option value="01">团员</option>
                            <option value="02">党员</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form_line">
                <label class="label len" for="BeginWorkDate">工作时间 :</label>
                <div class="element">
                    <input type="text" name="BeginWorkDate" id="BeginWorkDate" class="text date" size="30" placeholder="首次参加工作时间" />
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="StateCode">国 籍 :</label>
                    <div class="element">
                        <select name="StateCode" style="width: 100px">
                            <option value="01">中国</option>
                        </select>
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="FamilyCode">名 族 :</label>
                    <div class="element">
                        <select name="FamilyCode" style="width: 160px">
                            <option value="01">汉族</option>
                            <option value="02">满族</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="split_hr"></div>
            <div class="form_line">
                 <label class="label len" for="EmpCode">工 号 :</label>
                <div class="element">
                    <input type="text" name="EmpCode" id="EmpCode" class="text" size="25" />
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="DepartmentCode">所在部门 :</label>
                    <div class="element">
                        <select name="DepartmentCode" style="width: 150px">
                            <option value=""></option>
                            <option value="01">技术部</option>
                            <option value="02">行政人事部</option>
                        </select>
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="JobTitleCode">职 位 :</label>
                    <div class="element">
                        <select name="JobTitleCode" style="width: 180px">
                            <option value=""></option>
                            <option value="01">人事资产员</option>
                            <option value="02">经理</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="JoinDate">入司时间 :</label>
                    <div class="element">
                        <input type="text" name="JoinDate" id="JoinDate" class="text date" size="15" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="EmpStateCode">状 态 :</label>
                    <div class="element">
                        <select name="EmpStateCode" style="width: 130px">
                            <option value="01">正常</option>
                            <option value="02">离职</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="split_hr"></div>
            <div class="form_line form_line_bottom">
                <input type="button" value="提 交" class="form_button submit_button"/>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("#Birthday").Calendar();
    $("#BeginWorkDate").Calendar();
    $("#JoinDate").Calendar();
    
</script>
