@{
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}
@section Header
{
    <link href="~/Content/css/hr/hr_maintain.css" rel="stylesheet" />
    <link href="~/Content/css/hr/hr_maintain_form.css" rel="stylesheet" />
    <link href="~/Content/date/calendar.css" rel="stylesheet" />
}
<style type="text/css">
    #education_add {
        background-color: #f3f3f3;
        color: #4e4e4e;
    }

    #ico_education {
        background-color: #E1E6EB;
        border-color: #C9D4DF;
    }
</style>
@Html.Partial("Partial_HrMaintain")
<div class="data_nav">
    <div class="data_title">
        <h2>教育信息</h2>
    </div>
    <div class="data_con">
        <div class="photo">
            <img src="" style="border: 0px solid #ccc" />
        </div>
        <form name="frm1">
            <div class="form_line">
                <label class="label" for="EmpName">员工姓名 : </label>
                <div class="element">
                    <input type="text" name="EmpName" class="text" tabindex="1" size="30" placeholder="" />
                    <input type="hidden" name="EmployeeId" id="EmployeeId" />
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="School">学 校 :</label>
                    <div class="element">
                        <input type="text" name="School" class="text" size="18" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="DegreeCode">学 历 :</label>
                    <div class="element">
                        <select name="DegreeCode" style="width: 150px">
                            <option value="01">大专</option>
                            <option value="02">本科</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="EduStartDate">开始时间 :</label>
                    <div class="element">
                        <input type="text" name="EduStartDate" class="text date" size="15" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="EduEndDate">结束时间 :</label>
                    <div class="element">
                        <input type="text" name="EduEndDate" class="text date" size="15" />
                    </div>
                </div>
            </div>
            <div class="form_line">
                <label class="label" for="LearnContent">备 注 :</label>
                <div class="element">
                    <textarea name="LearnContent" rows="5" cols="60" class="text"></textarea>
                </div>
            </div>
            <div class="form_line">
                <label class="label" for="LearnResult">结 果 :</label>
                <select name="LearnResult" style="width: 150px">
                    <option value="01">毕业</option>
                    <option value="02">肄业</option>
                </select>
            </div>
            <div class="split_hr"></div>
            <div class="form_line form_line_bottom">
                <input type="button" value="提 交" class="form_button submit_button" />
            </div>
        </form>
    </div>
</div>
