@{
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}
@* 员工信息添加 *@
@section Header{
    <link href="~/Content/css/hr/hr_maintain.css" rel="stylesheet" />
    <link href="~/Content/css/hr/hr_maintain_index.css" rel="stylesheet" />
    <link href="~/Content/css/calendar.css" rel="stylesheet" />
}
<style type="text/css">
    #ico_user {
        background-color: #E1E6EB;
        border-color: #C9D4DF;
    }

    #employ_add {
        background-color: #f3f3f3;
        color: #4e4e4e;
    }
</style>
@Html.Partial("Partial_HrMaintain")
<div class="data_nav">
    <div class="data_title">
        <h2>员工信息</h2>
    </div>
    <div class="data_con">
        <form name="frm1">
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="Name">姓  名 : </label>
                    <div class="element">
                        <input type="text" name="Name" class="text" tabindex="1" size="25" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label right" for="Sex">性 别 : </label>
                    <div class="element">
                        男
                        <input type="radio" name="Sex" value="m" checked="checked" />&nbsp;&nbsp;&nbsp;&nbsp;
                        女
                        <input type="radio" name="Sex" />
                    </div>

                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="Birthday">出生年月 :</label>
                    <div class="element">
                        <input type="text" name="Birthday" id="Birthday" class="text" size="15" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="IsMarried">婚 否 :</label>
                    <div class="element">
                        已婚
                        <input type="radio" name="IsMarried" value="1" checked="checked" />&nbsp;&nbsp;&nbsp;&nbsp;
                        未婚
                        <input type="radio" name="IsMarried" />
                    </div>
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="Telephone">联系电话 :</label>
                    <div class="element">
                        <input type="text" name="Telephone" id="Telephone" class="text" size="20" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="IdCard">身份证号 :</label>
                    <div class="element">
                        <input type="text" name="IdCard" id="IdCard" class="text" size="30" />
                    </div>
                </div>
            </div>
            <div class="form_line">
                <label class="label" for="HomeAdress">家庭住址 :</label>
                <div class="element">
                    <input type="text" name="HomeAdress" id="HomeAdress" class="text" size="30" />
                </div>
            </div>
            <div class="split_hr"></div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="FinishSchool">毕业院校 :</label>
                    <div class="element">
                        <input type="text" name="FinishSchool" id="FinishSchool" class="text" size="25" />
                    </div>

                </div>
                <div class="form_line_right">
                    <label class="label" for="DegreeCode">学 历 :</label>
                    <div class="element">
                        <input type="text" name="DegreeCode" id="DegreeCode" class="text" size="30" />
                    </div>
                </div>
            </div>
            <div class="form_line">
                <div class="form_line_left">
                    <label class="label" for="Major">专 业 :</label>
                    <div class="element">
                        <input type="text" name="Major" id="Major" class="text" size="20" />
                    </div>
                </div>
                <div class="form_line_right">
                    <label class="label" for="PoliticalCode">政治面貌 :</label>
                    <div class="element">
                        <input type="text" name="PoliticalCode" id="PoliticalCode" class="text" size="20" />
                    </div>
                </div>
            </div>
            <div class="form_line">
                <label class="label len" for="BeginWorkDate">工作时间 :</label>
                <div class="element">
                    <input type="text" name="BeginWorkDate" id="BeginWorkDate" class="text" size="30" placeholder="首次参加工作时间"/>
                </div>
            </div>
            <div class="split_hr"></div>
            <div class="form_line">
                
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/Calendar.js"></script>
<script type="text/javascript">
    $("#Birthday").Calendar();
</script>
