@{
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}
@* 员工信息添加 *@
@section Header{
    <link href="~/Content/css/hr/hr_maintain.css" rel="stylesheet" />
    <link href="~/Content/css/hr/hr_maintain_index.css" rel="stylesheet" />
}
<style type="text/css">
    #ico_user {
        background-color: #E1E6EB;
        border-color: #C9D4DF;
    }

    #employ_add {
        background-color: #f3f3f3;
        color: #4e4e4e;
    }
</style>
@Html.Partial("Partial_HrMaintain")
<div class="data_nav">
    <div class="data_title">
        <h2>员工信息</h2>
    </div>
    <div class="data_con">

    </div>
</div>
