<div class="page_nav">
    <div class="title_warp">
        <h2>添加信息</h2>
    </div>
    <ul class="links">
        <li>
            <a href="#" id="nav1" class="on">员工相关<span class="ico_menu"></span></a>
        </li>
        <li>
            <a href="#" id="nav2">人事相关<span class="ico_menu"></span></a>
        </li>
    </ul>
</div>
<div class="content_nav">
    <div class="emp_con" id="con1">
        <ul>
            <li>
                <a href="#" id="ico_user">
                    <span class="ico_user"></span>
                    员工信息</a>
            </li>
            <li>
                <a href="#" id="ico_contract">
                    <span class="ico_contract"></span>
                    人事合同</a>
            </li>
            <li>
                <a href="#" id="ico_family">
                    <span class="ico_family"></span>
                    家庭成员
                </a>
            </li>
            <li>
                <a href="#" id="ico_education">
                    <span class="ico_education"></span>
                    教育信息
                </a>
            </li>
            <li>
                <a href="#" id="ico_experience">
                    <span class="ico_experience"></span>
                    工作经历
                </a>
            </li>
            <li><a href="#" id="ico_award">
                <span class="ico_award"></span>
                奖惩信息
            </a>
            </li>
            <li><a href="#" id="ico_learn">
                <span class="ico_learn"></span>
                培训信息
            </a>
            </li>
            <li><a href="#" id="ico_transfer">
                <span class="ico_transfer"></span>
                调动信息
            </a>
            </li>
        </ul>
    </div>
    <div class="dept_con" id="con2" style="display: none">
        <ul>
            <li>
                <a href="#" id="ico_notice">
                    <span class="ico_notice"></span>
                    人事通知</a>
            </li>
        </ul>
    </div>
</div>
