<div class="page_nav">
    <div class="title_warp">
        <h2>添加信息</h2>
    </div>
    <ul class="links">
        <li>
            <a href="#" id="employee_relate" flag="1">员工相关<span class="ico_menu"></span></a>
        </li>
        <li>
            <a href="#" id="hr_relate" flag="2">人事相关<span class="ico_menu"></span></a>
        </li>
    </ul>
</div>
<div class="content_nav">
    <div class="emp_con" id="con1" style="display: none">
        <ul>
            <li>
                <a href="/HrMaintain/EmpAdd" id="ico_user">
                    <span class="ico_user"></span>
                    员工信息</a>
            </li>
            <li>
                <a href="/HrMaintain/EmpFamily" id="ico_family">
                    <span class="ico_family"></span>
                    家庭成员
                </a>
            </li>
            <li>
                <a href="/HrMaintain/EmpEducation" id="ico_education">
                    <span class="ico_education"></span>
                    教育信息
                </a>
            </li>
            <li>
                <a href="/HrMaintain/EmpWorkExperience" id="ico_experience">
                    <span class="ico_experience"></span>
                    工作经历
                </a>
            </li>
        </ul>
    </div>
    <div class="dept_con" id="con2" style="display: none">
        <ul>
            <li>
                <a href="/HrMaintain/HrContract" id="ico_contract">
                    <span class="ico_contract"></span>
                    人事合同
                </a>
            </li>
            <li><a href="/HrMaintain/HrAward" id="ico_award">
                <span class="ico_award"></span>
                奖惩信息
            </a>
            </li>
            <li><a href="/HrMaintain/HrLearn" id="ico_learn">
                <span class="ico_learn"></span>
                培训信息
            </a>
            </li>
            <li><a href="#" id="ico_transfer">
                <span class="ico_transfer"></span>
                调动信息
            </a>
            </li>
            <li>
                <a href="#" id="ico_notice">
                    <span class="ico_notice"></span>
                    人事通知</a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var relate;
        if (location.href.indexOf("Emp") > -1) {
            relate = $("#employee_relate").addClass("on");
        } else if (location.href.indexOf("Hr") > -1) {
            relate = $("#hr_relate").addClass("on");
        } else {
            relate = $("#employee_relate").addClass("on");
        }
        var emp_con = $("#con" + relate.attr("flag"));
        emp_con.show();
        //导航信息栏
        var all_nav = $(".page_nav a"); //导航
        var last_nav = all_nav.filter(".on");  //上一次选中的项
        all_nav.click(function () {
            var curr_nav = $(this);
            if (!curr_nav.hasClass("on")) {
                curr_nav.addClass("on");
                last_nav.removeClass("on");
                con_change(last_nav, curr_nav); //改变内容
                last_nav = curr_nav;
            }
            return false;
        });
    });
    function con_change(last_nav, curr_nav) {
        var last_con = $("#con" + last_nav.attr("flag"));
        var curr_con = $("#con" + curr_nav.attr("flag"));
        last_con.hide(500);
        curr_con.show(500);
    }
</script>
