* {
    margin: 0;
    padding: 0;
}

html .hidden {
    display: block;
}

body {
    background-color: #fff;
    color: #333;
    font: 12px/1.5 Tahoma,Arial,\5b8b\4f53;
}

ul {
    display: block;
    list-style-type: none;
}

    ul li {
        float: left;
    }

a {
    color: #0078b6;
    text-decoration: none;
}

p {
    display: block;
}

h1, h2, h3, h4, h5, h6, input, textarea, select, button, label {
    font-size: 100%;
    vertical-align: middle;
}

.top_tips {
    display: none;
    background-color: #FFF9D7;
    line-height: 26px;
}

    .top_tips strong {
        font-weight: 400;
        color: #F00;
    }

.toptips_wrap {
    margin: 0 auto;
    text-align: center;
}

.topnav {
    background-color: #2C2C2C;
    overflow: hidden;
    min-width: 996px;
}

.topnav_wrap {
    margin: 0 auto;
    height: 29px;
    line-height: 29px;
}

.user_zone {
    float: right;
}

.linkwrap {
    float: left;
    margin-left: 0;
    zoom: 1;
    color: #B5B5B5;
}

.link {
    position: relative;
    float: left;
    height: 29px;
    overflow: hidden;
    padding: 0 8px 0 9px;
    color: #B5B5B5;
    /*border:1px solid red;*/
}

.ico_down {
    position: relative;
    display: inline-block;
    /*border: 1px solid #ccc;*/
    width: 7px;
    height: 5px;
    overflow: hidden;
    top: -2px;
    right: 5px;
    left: 3px;
    background: url(../imgs/icon.png) no-repeat;
    background-position: 0 -62px;
    transition: transform 0.4s;
}

#kefu:hover .ico_down {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.link:hover {
    background-color: #3E3E3E;
    color: #CECECE;
    text-decoration: none;
}

.link_split {
    float: left;
    height: 29px;
    width: 1px;
    overflow: hidden;
    background-color: #272727;
    border-right: 1px solid #3A3A3A;
}

.mainnav {
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
    border-bottom: 1px solid #bbb;
}

.mainnav_wrap {
    position: relative;
    margin: 0 auto;
}

    .mainnav_wrap .logo {
        position: relative;
        display: inline-block;
        margin-top: 27px;
        height: 42px;
    }

.mainnav_link {
    position: absolute;
    right: 0;
    top: 35px;
}

    .mainnav_link a {
        position: relative;
        float: left;
        height: 36px;
        width: 60px;
        line-height: 30px;
        text-align: center;
        overflow: hidden;
        margin-left: 18px;
        color: #303030;
        font: 17px/36px \5fae\8f6f\96c5\9ed1,\5b8b\4f53;
        border-bottom: 1px;
        /*border:1px solid red;*/
    }

        .mainnav_link a:hover {
            color: #005CB5;
            border-bottom: 3px solid #005CB5;
        }

    .mainnav_link .on {
        color: #005CB5;
        border-bottom: 3px solid #005CB5;
    }

.toptips_wrap, .topnav_wrap, .mainnav_wrap, .container, .footer {
    width: 996px;
    margin: 0 auto;
}

/*页脚*/
.footer_container {
    width: 100%;
    min-width: 996px;
    background-color: #f5f5f5;
}

.index_footer {
    width: 996px;
    height: 50px;
    margin: 0 auto;
    border-top: 1px solid #E1E1E1;
    padding-top: 20px;
    line-height: 22px;
    padding-bottom: 10px;
    text-align: center;
    color: #999;
}

    .index_footer a {
        margin-left: 10px;
        color: #999;
    }

        .index_footer a:hover {
            color: #0078b6;
        }

.foot_fill {
    position: absolute;
    top: 875px;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

