/*数据部分*/
.data_nav {
    margin-top: 10px;
    position: relative;
    border: 1px solid #DDDDDD;
    /*border: 1px solid red;*/
}

.data_title {
    padding: 5px 0 5px 15px;
    /*border: 1px solid red;*/
    background-color: #EBF1F9;
}

    .data_title h2 {
        display: inline;
        font-size: 13px;
        color: #666;
        /*border:1px solid red;*/
    }

.data_con {
    border: 1px solid #EBF1F9;
    padding: 5px 10px;
}

.photo {
    position: absolute;
    /*border: 1px solid #cccccc;*/
    background-color: #999;
    width: 100px;
    height: 100px;
    right: 15px;
    top: 55px;
    cursor: pointer;
    overflow: hidden;
}

.form_line {
    margin-top: 22px;
    width: 80%;
    /*border: 1px solid red;*/
}

.form_bottom {
    padding-left: 170px;
    padding-bottom: 20px;
}

.form_line .form_line_left {
    display: inline-block;
    /*border: 1px solid red;*/
    width: 45%;
}

.form_line .form_line_right {
    display: inline-block;
    /*border: 1px solid red;*/
    width: 50%;
}

form .label {
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    font-size: 13px;
    text-align: center;
    /*border:1px solid red;*/
    display: inline-block;
    width: 75px;
    color: #666;
}

form .element {
    display: inline-block;
    /*border:1px solid red;*/
    margin-left: 3px;
}

form .text {
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 4px 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    color: #333;
    outline: none;
    box-sizing: border-box;
}

    form .text:focus {
        border-color: #51A7E8;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(103, 166, 217, 0.5);
    }

form .split_hr {
    margin-top: 20px;
    width: 80%;
    border-top: 1px dashed #e1e2e2;
}

.form_button {
    width: 75px;
    height: 28px;
    line-height: 27px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 1px 2px #999;
    -webkit-box-shadow: 0px 1px 2px #999;
    -moz-box-shadow: 0px 1px 2px #999;
    border-bottom: 1px solid #09527D;
    border-radius: 0.2em;
    outline: none;
}

.submit_button {
    border: 1px solid #406185;
    background: #3C5A7B;
    background-image: linear-gradient(bottom, #406185 40%, #1180C4 70%);
    background-image: -o-linear-gradient(bottom, #406185 40%, #1180C4 70%);
    background-image: -moz-linear-gradient(bottom, #406185 40%, #1180C4 70%);
    background-image: -webkit-linear-gradient(bottom, #406185 40%, #557597 70%);
    background-image: -ms-linear-gradient(bottom, #406185 40%, #1180C4 70%);
}

    .submit_button:hover {
        background-image: linear-gradient(bottom, #3C5A7B 40%, #607E9E 70%);
        background-image: -o-linear-gradient(bottom, #3C5A7B 40%, #607E9E 70%);
        background-image: -moz-linear-gradient(bottom, #3C5A7B 40%, #607E9E 70%);
        background-image: -webkit-linear-gradient(bottom, #3C5A7B 40%, #607E9E 70%);
        background-image: -ms-linear-gradient(bottom, #3C5A7B 40%, #607E9E 70%);
    }

    .submit_button:active {
        background-image: linear-gradient(bottom, #3C5A7B 40%, #3C5A7B 70%);
        background-image: -o-linear-gradient(bottom, #3C5A7B 40%, #3C5A7B 70%);
        background-image: -moz-linear-gradient(bottom, #3C5A7B 40%, #3C5A7B 70%);
        background-image: -webkit-linear-gradient(bottom, #3C5A7B 40%, #3C5A7B 70%);
        background-image: -ms-linear-gradient(bottom, #3C5A7B 40%, #3C5A7B 70%);
    }

.disabled_button {
    border: 1px solid #726E66;
    background: #8F8C84;
    cursor: default;
    background-image: -webkit-linear-gradient(bottom, #726E66 40%, #8F8C84 70%);
}

    .disabled_button:hover {
        background-image: -webkit-linear-gradient(bottom, #726E66 40%, #8F8C84 70%);
    }

    .disabled_button:active {
        background-image: -webkit-linear-gradient(bottom, #726E66 40%, #8F8C84 70%);
    }
