/*数据部分*/
.data_nav {
    margin-top: 10px;
    position: relative;
    border: 1px solid #DDDDDD;
    /*border: 1px solid red;*/
}

.data_title {
    padding: 5px 0 5px 15px;
    /*border: 1px solid red;*/
    background-color: #EBF1F9;

}

    .data_title h2 {
        display: inline;
        font-size: 13px;
        color: #666;
        /*border:1px solid red;*/
    }
.data_con {
    /*border:1px solid red;*/
}