* {
    padding: 0;
    margin: 0;
}

.calendar { /*日期框容器*/
    position: absolute;
    z-index: 10000;
    border: 1px solid #76ABD3;
    width: 203px;
    height: 201px;
    left: 300px;
    top: 100px;
    font-size: 14px;
    overflow: hidden;
}

.calendar_title_containter { /*标题容器*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 26px;
    background-color: #EBF2FA;
    /*overflow: hidden;*/
    border-bottom: 1px solid #76ABD3;
    /*padding-left:3px;*/
    /*border: 1px solid blue;*/
}

    .calendar_title_containter span {
        cursor: pointer;
    }

.last_y, .last_m, .title_y, .title_m, .next_y, .next_m { /*标题按钮*/
    /*border: 1px solid red;*/
    /*border-top:1px solid red;*/
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    overflow: hidden;
    float: left;
}

.last_y { /*向前年按钮*/
    width: 30px;
}

.last_m { /*向前月按钮*/
    width: 23px;
}

.title_y { /*年按钮*/
    width: 50px;
    padding: 0 3px;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
}

.title_m { /*月按钮*/
    width: 35px;
    padding: 0 3px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}

.next_m { /*向后月按钮*/
    width: 23px;
}

.next_y { /*向后年按钮*/
    width: 30px;
}

.calendar_maindata_containter { /*显示或隐藏数据 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    border: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 27px;
    bottom: 0;
    height: 173px;
    overflow: hidden;
    /*border: 1px solid red;*/
    /*display: none;*/
}

.week_container { /*周容器*/
    /*position: absolute;
    top:26px;*/
    border-bottom: 1px solid #ccc;
    /*border: 1px solid red;*/
}

.calendar_week { /*周*/
    height: 25px;
    line-height: 25px;
    background-color: #fff;
    padding: 0 2px;
    /*overflow:hidden;*/
}

    .calendar_week div { /*单个数据样式*/
        float: left;
        display: inline-block;
        text-align: center;
        width: 25px;
        margin-left: 3px;
        /*border-bottom: 1px solid red;*/
    }

.calendar_data_containter { /*数据容器*/
    /*background-color:#ccc;*/
    height: 146px;
    position: absolute;
    padding: 0 2px;
    /*border:1px solid red;*/
}

    .calendar_data_containter div, .calendar_data_containter span { /*单个日期*/
        float: left;
        display: inline-block;
        text-align: center;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin-left: 3px;
        margin-top: 3px;
    }

        .calendar_data_containter div:hover {
            cursor: pointer;
            background-color: #48B8E0;
        }

.calendar_mainyear_containter { /*年容器*/
    /*border: 1px solid red;*/
    position: absolute;
    background-color: #fff;
    /*top:27px;*/
    top: -147px;
    height: 172px;
    padding: 0 2px;
    overflow: hidden;
    z-index: 1;
    /*display:none;*/
}

    .calendar_mainyear_containter div {
        /*border-top: 1px solid blue;
        border-bottom: 1px solid blue;*/
        display: inline-block;
        float: left;
        margin-left: 2px;
        margin-top: 4px;
        width: 45px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid transparent;
    }

        .calendar_mainyear_containter div:hover {
            cursor: pointer;
            border-color: #48B8E0;
        }

.calendar_mainmonth_containter { /*月样式容器显示或隐藏!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    /*border: 1px solid red;*/
    position: absolute;
    background-color: #fff;
    /*top: 27px;*/
    top: -147px;
    height: 172px;
    padding: 0 2px;
    overflow: hidden;
    z-index: 1;
    /*display: none;*/
}

    .calendar_mainmonth_containter div { /*单个月样式*/
        display: inline-block;
        float: left;
        margin-left: 10px;
        margin-top: 4px;
        width: 50px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border: 1px solid transparent;
    }

        .calendar_mainmonth_containter div:hover {
            cursor: pointer;
            border-color: #48B8E0;
        }
