@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <link href="~/Content/css/index.css" rel="stylesheet" />
}
<div class="container">
    <div class="sidebar">
        <ul class="nav">
            <li id="human_base" class="on">
                <a href="#" class="human_item">
                    <i class="iconfont ">&#xe60e;</i>&nbsp&nbsp&nbsp
                    <span>基本信息</span>
                </a>
            </li>
            <li id="human_query">
                <a href="#" class="human_item">
                    <i class="iconfont">&#xe608;</i>&nbsp&nbsp&nbsp
                    <span>人事查询</span>
                </a>
            </li>
            <li id="human_add">
                <a href="#" class="human_item">
                    <i class="iconfont">&#xe60b;</i>&nbsp&nbsp&nbsp
                    <span>添加记录</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">

    </div>
</div>
