@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <link href="~/Content/css/index.css" rel="stylesheet" />
}
<div class="container">
    <div class="sidebar">
        <ul class="meun_con">
            <li id="human_base" class="on">
                <a href="#" class="h_menu">
                    <span class="ico_people"></span>人事档案
                </a>
                <a class="nav_sub_btn" hidefocus="hidefocus"><span class="ico_right"></span></a>
                <div class="nav_sub">
                    <ul>
                        <li>
                            <a href="#">基本信息</a>
                        </li>
                        <li>
                            <a href="#">合同信息</a>
                        </li>
                        <li>
                            <a href="#">家庭成员</a>
                        </li>
                        <li>
                            <a href="#">教育学习</a>
                        </li>
                        <li>
                            <a href="#">培训信息</a>
                        </li>
                        <li>
                            <a href="#">人员奖惩信息</a>
                        </li>
                        <li>
                            <a href="#">人员调动信息</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="human_query">
                <a href="#" class="h_menu">
                    <span class="ico_query"></span>统计查询
                </a>
                <a class="nav_sub_btn"><span class="ico_right"></span></a>
                <div class="nav_sub">
                    <ul>
                        <li>
                            <a href="#">公司员工统计</a>
                        </li>
                        <li>
                            <a href="#">部门编制统计</a>
                        </li>
                        <li>
                            <a href="#">培训记录统计</a>
                        </li>
                        <li>
                            <a href="#">奖惩信息统计</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="human_add">
                <a href="#" class="h_menu">
                    <span class="ico_add"></span>添加信息
                </a>
                <a class="nav_sub_btn"><span class="ico_right"></span></a>
                <div class="nav_sub">
                    <ul>
                        <li>
                            <a href="#">员工入库</a>
                        </li>
                        <li>
                            <a href="#">合同添加</a>
                        </li>
                        <li>
                            <a href="#">家庭成员添加</a>
                        </li>
                        <li>
                            <a href="#">教育信息添加</a>
                        </li>
                        <li>
                            <a href="#">工作经历添加</a>
                        </li>
                        <li>
                            <a href="#">奖惩添加</a>
                        </li>
                        <li>
                            <a href="#">培训添加</a>
                        </li>
                        <li>
                            <a href="#">调动添加</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="nav_extra">
            <li>
                <a href="#">快捷支付</a>
                <span class="border"></span>
            </li>
            <li><a href="#">安全中心</a></li>
            <li><a href="#">QQ 快 付</a>
                <span class="border"></span>
            </li>
            <li><a href="#">手机支付</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="page_nav">
            <div class="title_warp">
                <h2>添加信息</h2>
            </div>
            <ul class="links">
                <li>
                    <a href="#" class="on">员工相关</a>
                </li>
                <li>
                    <a href="#">公司相关</a>
                </li>
            </ul>
        </div>
        <div class="emp_con">
            <ul>
                <li>
                    <a href="#">
                        <img src="~/Content/imgs/user.gif" />
                        员工入库</a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Content/imgs/217-16.png" />
                        合同添加</a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Content/imgs/14-24.png" />
                        家庭成员
                    </a>
                </li>
                <li><a href="#">
                    <img src="~/Content/imgs/225-20.png" />教育信息</a></li>
                <li><a href="#">
                    <img src="~/Content/imgs/dreams_dream_sleep_emoticon_emotion_moon_sleeping-20.png" />工作经历</a></li>
                <li><a href="#">
                    <img src="~/Content/imgs/award.png" />奖惩信息</a></li>
                <li><a href="#">培训信息</a></li>

            </ul>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.7.1.js"></script>
<script type="text/javascript">
    $(function () {
        var meun_li = $(".meun_con > li");
        meun_li.mouseover(function () {
            $(this).children(".nav_sub").show();
        });
        meun_li.mouseout(function () {
            $(this).children(".nav_sub").hide();
        })
        var page_nav = $(".page_nav a");
        page_nav.mouseover(function () {
            var curr = $(this);
            if (curr.hasClass("on")) {
                curr.css("backgroundColor", "#fff");
                curr.click(function () { return false;})
            }

        })
    });
</script>
