<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <properties>
    <property resource="properties.config"/>
  </properties>

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="false"/>
    <setting validateSqlMap="false"/>
  </settings>
  <database>
    <provider name="${sqlprovider}"/>
    <dataSource name="Blogs" connectionString="${sqlconn}"/>
  </database>
  
  <sqlMaps>
    <sqlMap resource="${sqlroot}Department.xml"/>

  </sqlMaps>

</sqlMapConfig>