<div class="page_nav">
    <div class="title_warp">
        <h2>人事档案</h2>
    </div>
    <ul class="links">
        <li>
            <a href="/HrRecord/Employee" id="employee_list">员工信息</a>
        </li>
        <li>
            <a href="/HrRecord/Contract" id="contract_list">合同信息</a>
        </li>
        <li>
            <a href="#" id="family_list">家庭成员</a>
        </li>
        <li>
            <a href="#" id="education_list">教育学习</a>
        </li>
        <li>
            <a href="#" id="learn_list">培训信息</a>
        </li>
        <li>
            <a href="#" id="award_list">奖惩信息</a>
        </li>
        <li>
            <a href="#" id="trans_list">调动信息</a>
        </li>
    </ul>
</div>
